*
{
    box-sizing: border-box;
    margin:0%;
    padding: 0%;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(#9cfef1,#ff8ff9);
}
.container {
    position: relative;
}
h4
{
    font-family: cursive;
    font-size: 30px;
    color: rgb(194, 127, 39);
    padding-bottom: 15px;
}
.head {
    height: 100%;
    width: 100%;
    border-bottom: 3px solid black;
    padding-top: 50px;
    text-shadow: rgb(0, 81, 255);
}
.btn {
    padding-top: 30px;
    font-size: 20px;

}

button {
    color: rgba(208, 207, 198, 0.992);
    font-weight: bold;
    height: 40px;
    width: 150px;
    background-color: #2C3333;
    border-radius: 10px;
    font-size: 20px;
}

#data {
    width: 40vw;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    justify-content: center;
    display: flex;
    padding-top:0% 870px;
}
td
{
    padding-left: 50px;
}
.table {
    width: 50vw;
}

table {
    color: rgb(46, 100, 208);
    font-size: 18px;

}
table tr :hover {
    background-color: #cfe2dc;
}
img {
    clip-path: circle();
}
.foot
{
    padding-top: 205px;
    line-height: 85px;
    padding-left: 0px;
    font-size: 20px;
    color:rgb(0, 4, 255);
}